@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
 v2.0 | 20110126
 License: none (public domain)
 RESET
*/

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700,800,900|Open+Sans:300,400,600,700,800&display=swap');


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block; }

body {
line-height: 1; }

ol, ul {
list-style: none; }

blockquote, q {
quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none; }

table {
border-collapse: collapse;
border-spacing: 0; }

i {
  font-style: italic;
}

/* ---------- MY VARIABLES ---------- */
body {
font-family: "Open Sans", Arial, sans-serif;
font-size: 17px;
background: -webkit-linear-gradient(#220320 40%, #112532);
background: linear-gradient(#220320 40%, #112532); }

section {
max-width: 970px;
margin: 80px auto; }

h1 {
font-family: "Bungee", cursive;
color: #ffffff;
font-size: 48px; }

h2 {
font-family: "Montserrat", sans-serif;
color: #ffffff;
font-size: 38px;
padding: 35px 0;
letter-spacing: 2.2px;
font-weight:600; }

p {
font-family: "Open Sans", sans-serif;
color: #f8f8f8;
line-height: 1.3;
letter-spacing:0.7px;
font-weight: lighter; }

main {
min-height: 100vh;
max-width: 100%;
background: url("../img/nightsky.png") no-repeat center center;
background-size: cover; }

main .thebigtitle {
  text-align: center;
  max-width: 100%;
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%); }
  @media screen and (max-width: 767px) {
    main .thebigtitle {
      padding-top: 200px; } }

main .hidden {
  display: none; 
}

strong {
  font-weight:500;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.header {
  text-align:right;
  padding:20px;
}

.header img {
  width:25px;
  height:25px;
  margin:5px;
}

.border span {
display: block;
width:80px;
height:4px;
background-color:#ffffff;
border-radius:50px;
margin-top:20px;
    transform: translateX(-50%);
  left: 50%;
  position: absolute;
  bottom:0;
}
.border span:nth-of-type(2) {
margin-left:40px;
margin-top:15px;
bottom:unset;

}
.theexplorer {
text-align: center;
max-width: 800px;
margin: 0 auto; }
.theexplorer h2 {
  font-size:50px;
}
.theexplorer .column {
  width: calc(50% - 30px);
  margin:15px;
  text-align: left; }
    @media screen and (max-width: 720px) {
      .theexplorer .column {
        width:100%; } }
  @media screen and (max-width: 767px) {
    .theexplorer .column {
      width: 90%; } }

.myart {
text-align: center;
padding: 25px 0;
max-width: 970px;
min-height: 700px;
position: relative;
z-index: 1; }
.myart ul li {
  list-style-type: none;
  display: inline;
  padding: 10px 20px; }
  .myart ul img {
    cursor: pointer;
  }
.myart #mixit .mix {
  display: none; }
.myart a {
  -webkit-transition: 0.4s;
  transition: 0.4s; }
  .myart a:hover {
    opacity: 0.5; }
.myart .filter-btns {
  text-align: center;
  padding-bottom: 25px; }
.myart .filter {
  font-family: "Montserrat", sans-serif;
  display: inline;
  margin-right: 5px;
  padding: 6px 20px;
  color: #ffffff;
  font-size: 20px;
  cursor: pointer;
  -webkit-transition: color 0.5s;
  transition: color 0.5s; }
  .myart .filter:hover {
    color: rgba(255, 255, 255, 0.5); }
  .myart .filter.active {
    color: rgba(255, 255, 255, 0.5); }
  .myart .filter span {
    display: inline-block;
    margin-bottom: 20px;
    letter-spacing:1.5px; }

.gallery-popup {
color: #ffffff;
background: #28011D;
padding: 100px 150px; }
@media screen and (max-width: 767px) {
  .gallery-popup {
    padding: 50px 10px 20px; } }
.gallery-popup .gallery-images {
  display:flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  }
  .gallery-popup .gallery-images img {
    padding:10px;
  }
.gallery-popup .description {
  width: 500px;
  display: inline-block;
  color: #ffffff;
  padding-left: 5px; }
  @media screen and (max-width: 480px) {
    .gallery-popup .description {
      width: 100%; } }
  .gallery-popup .description h2, .gallery-popup .description p {
    text-align: left; }
  .gallery-popup .description a {
    display: block;
    max-width: 140px;
    margin-top: 25px;
    color: #28011D;
    text-decoration: none;
    background: #ffffff;
    padding: 13px 20px;
    border-radius: 50px;
    -webkit-transition: background .35s ease-in-out;
    transition: background .35s ease-in-out; }
    .gallery-popup .description a:hover {
      background: rgba(255, 255, 255, 0.5); }
.gallery-popup ul {
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
  padding-left: 20px;
  line-height: 1.3; }
  .gallery-popup ul li {
    padding-top: 15px; }
  .gallery-popup ul .title {
    font-weight: bold; }

.horizontal-image {
width: 520px; }
@media screen and (max-width: 767px) {
  .horizontal-image {
    width: 400px; } }
@media screen and (max-width: 480px) {
  .horizontal-image {
    width: 260px; } }

.vertical-image {
width: 280px; }
@media screen and (max-width: 767px) {
  .vertical-image {
    width: 200px; } }

.video-wrapper {
position: relative;
padding-bottom: 56.25%;
margin-top: 25px;
height: 0; }
.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.contact {
text-align: center;
position: relative; }
.contact a {
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  margin: 10px 5px;
  font-size: 17px; }
  .contact img {
    width:20px;
    height:20px;
  }
  .contact .button {
    background: white;
    color: inherit;
    padding: 13px 20px;
    border-radius: 50px;
    line-height:normal;
    font-weight:600;
    /*box-shadow:0px 0px 5px #ffffff;*/
    transition: all .2s ease;
    letter-spacing:1.1px;
  }

  .contact .button:hover {
    box-shadow:0px 0px 2px #ffffff;
    opacity:0.5;
  }

  .contact .border {
    padding-top:30px;
  }

.astronaut {
position: relative; }
.astronaut img {
  position: absolute;
  bottom: 0;
  left: -70px; }
  @media screen and (max-width: 767px) {
    .astronaut {
      margin-bottom:0;
    }
    .astronaut img {
      position: static; 
    } 
}

/* ------------  * ⊹  ✵   · . ·  ✧ . ✵  .  ✺ --------------*/
@-webkit-keyframes twinkle_one {
0% {
  opacity: 1; }
30% {
  opacity: 1; }
70% {
  opacity: 0; }
100% {
  opacity: 1; } }

@keyframes twinkle_one {
0% {
  opacity: 1; }
30% {
  opacity: 1; }
70% {
  opacity: 0; }
100% {
  opacity: 1; } }

@-webkit-keyframes twinkle_two {
0% {
  opacity: 1; }
25% {
  opacity: 0; }
80% {
  opacity: 0; }
100% {
  opacity: 1; } }

@keyframes twinkle_two {
0% {
  opacity: 1; }
25% {
  opacity: 0; }
80% {
  opacity: 0; }
100% {
  opacity: 1; } }

@-webkit-keyframes twinkle_three {
0% {
  opacity: 1; }
30% {
  opacity: 0; }
40% {
  opacity: 0; }
100% {
  opacity: 1; } }

@keyframes twinkle_three {
0% {
  opacity: 1; }
30% {
  opacity: 0; }
40% {
  opacity: 0; }
100% {
  opacity: 1; } }

.galaxy {
z-index: 0;
position: absolute;
left: 0;
right: 0;
height: 100vh;
margin: 0 auto; 
overflow:hidden;}

.stars {
  position: absolute;
  left:0;
  width:100%;
}

.stars img {
  width:100%;
  max-width:100%;
}
.galaxy .star {
  position: absolute;
  background-color: white; }
.galaxy .star-type1 {
  width: 1px;
  height: 1px;
  border-radius: 2px;
  box-shadow: 0 0 1px 1px white;
  -webkit-animation: twinkle_one 3s ease-in-out infinite;
  animation: twinkle_one 3s ease-in-out infinite; }
.galaxy .star-type2 {
  width: 2px;
  height: 2px;
  border-radius: 2px;
  box-shadow: 0 0 2px 1px white;
  -webkit-animation: twinkle_two 12s ease-in-out infinite;
  animation: twinkle_two 12s ease-in-out infinite; }
.galaxy .star-type3 {
  width: 2px;
  height: 2px;
  border-radius: 2px;
  box-shadow: 0 0 2px 0 white;
  -webkit-animation: twinkle_three 7s ease-in-out infinite;
  animation: twinkle_three 7s ease-in-out infinite; }
